#logofoot{
    height: 135px;
}
footer{
    background-color: #0A1730;
}
.infoka{
    color: #F8FAFF;
    margin-top: 20px;
}
.infokb{
    color: #F8FAFF;
}
.ify{
    margin-top: 50px;
    height: 80px;
}
#youtube{
    height: 120px;
    margin-top: 28px;
}
